body {background-color: powderblue;}
h1{color: blue;}
p{color: red;}
p{font-family: 'Times New Roman', Times, serif;
font-size: smaller;
border: 2px solid palevioletred;
padding: 10px;}
h1{margin: 15px;}
.alert-text {
    color: rgba(0, 81, 255, 0.507);
  }